.expand-info-enter-active {
  transition: all 0.3s ease;
}

.expand-info-enter {
  opacity: 0;
}

.mask-transition-enter-active {
  .mask {
    transition: all 0.3s ease;
  }
}

.mask-transition-enter {
  .mask {
    background-color: #ddd;
  }
}

.mask-transition-enter-to {
  .mask {
    background-color: #000;
  }
}

.modal-enter {
  opacity: 0;
  .modal-container {
    transform: scale(0.1);
  }
}
.modal-leave-to {
  opacity: 0;
  .modal-container {
    transform:  scale(0.1);
  }
}
.modal-enter-active {
  transition: opacity 0.5s ease;
  .modal-container {
    transition: all 0.5s ease;
  }
}

.modal-leave-active {
  pointer-events: none;
  transition: opacity 0.5s ease;
  .modal-container {
    transition: all 0.4s ease;
  }
}